* {
  font-family: arial;
  text-align: center;
}
div {
  display: inline-block;
  vertical-align: top;
}
h1 {
  text-align: center;
}

.game {
  width: 128px;
  height: 200px;
  border: 4px solid #00000000;
}

.inline {
  padding: 16px;
  display: inline-block;
  background: #ffffffaa;
  border: #aaaaaa55 8px outset;
}
